/* INIZIALIZZAZIONE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* HELPER */
.border {
  border: 1px solid white;
}
.rel{
  position: relative;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.clearfix:after{
  content:””;
  display:table;
  clear: both;
}
.fl-r {
  float: right;
}
/* GENERAL */
body {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
/* HEADER */
header .nav-bar .sub-nav-bar {
  height: calc(100vh - 100px);
  width: 200px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}
header .nav-bar .sub-nav-bar .logo-spotify {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .nav-bar .sub-nav-bar .logo-spotify img {
  width: 60%;
  margin-left: 20px;
}
header .nav-bar .sub-nav-bar .centrature {
  width: 160px;
  margin:auto;
}
header .nav-bar .sub-nav-bar .centrature img {
  width: 25px;
  vertical-align: middle;
  margin-bottom: 5px;
}
header .nav-bar .sub-nav-bar .centrature a {
  font-size: 12px;
  color: #A3A3A3;
}
header .nav-bar .sub-nav-bar .centrature a:hover {
  color: white;
}
header .nav-bar .sub-nav-bar .centrature span {
  display: inline-block;
  font-weight: 500;
}
header .nav-bar .sub-nav-bar .centrature span.playlist {
  font-size: 14px;
  margin: 10px 0;
  color: white;
}
header .nav-bar .sub-nav-bar .centrature .div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .nav-bar .sub-nav-bar .centrature .div .plus {
  color: black;
  background-color: #A3A3A3;
  height: 30px;
  width: 30px;
  display: inline-block;
}
header .nav-bar .sub-nav-bar .centrature .div .plus span {
  font-size: 24px;
}
header .nav-bar .sub-nav-bar .centrature .div a {
  font-size: 16px;
  margin-left: 5px;
}
header .nav-bar .sub-nav-bar .centrature .nome-playlist a {
  display: block;
  margin-top: 10px;
}
header .nav-bar .sub-nav-bar .install {
  position: fixed;
  bottom: 100px;
  width: 200px;
  background-color: black;
}
header .nav-bar .sub-nav-bar .install .centrature {
  height: 60px;
}
header .nav-bar .sub-nav-bar .install .centrature img {
  width: 10%;
  margin-top: 5px;
}
header .nav-bar .sub-nav-bar .install .centrature img:nth-of-type(2) {
  background-color: #A3A3A3;
  border-radius: 50%;
  padding: 3px;
}
header .nav-bar .sub-nav-bar .install .centrature span:last-of-type {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: white;
}
header .nav-bar .sub-nav-bar .mini-logos {
  width: 50px;
}
header .nav-bar .sub-nav-bar .mini-logos img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 5px;
}
header .nav-bar .sub-nav-bar .mini-logos img:first-of-type {
  width: 80%;
}
header .nav-bar .sub-nav-bar .mini-install {
  position: fixed;
  bottom: 100px;
  width: 50px;
  background-color: black;
  height: 60px;
}
header .nav-bar .sub-nav-bar .mini-install img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 5px;
}
header .nav-bar .sub-nav-bar .mini-install img:nth-of-type(2) {
  background-color: #A3A3A3;
  padding: 5px;
  border-radius: 50%;
}
header .upgrade .sub-upgrade {
  width: calc(100vw - 200px);
  background-color: #070B12;
  position: absolute;
  top: 0;
  right: 0;
}
header .upgrade .sub-upgrade .button-upgrade {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
header .upgrade .sub-upgrade .button-upgrade a {
  font-size: 16px;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px 20px;
  margin-right: 10px;
}
header .upgrade .sub-upgrade .button-upgrade a:hover {
  color: #070B12;
  background-color: white;
}
/* MAIN */
main .sub-main {
  width: calc(100vw - 200px);
  height: calc(100vh - 200px);
  background-color: #141922;
  position: absolute;
  top: 100px;
  right: 0;
}
/* FOOTER */
footer .player-bar {
  width: 100%;
  min-width: 600px;
  height: 100px;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .player-bar .footer-left {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .player-bar .footer-left img {
  height: 50px;
}
footer .player-bar .footer-left .footer-left-span {
  margin-left: 5px;
}
footer .player-bar .footer-left .footer-left-span p {
  color: white;
  font-size: 14px;
}
footer .player-bar .footer-left .footer-left-span span {
  color: #A3A3A3;
  font-size: 12px;
}
footer .player-bar .footer-left .footer-left-icons {
  margin-left: 20px;
}
footer .player-bar .footer-left .footer-left-icons a {
  color: #A3A3A3;
}
footer .player-bar .footer-left .footer-left-icons a:hover {
  color: white;
}
footer .player-bar .footer-center {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
footer .player-bar .footer-center .top-footer-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .player-bar .footer-center .top-footer-center i {
  margin-left: 5%;
}
footer .player-bar .footer-center .bottom-footer-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
footer .player-bar .footer-center .bottom-footer-center span {
  font-size: 10px;
}
footer .player-bar .footer-center .bottom-footer-center .short {
  display: inline-block;
  height: 2px;
  width: 15%;
  background-color: white;
  margin-left: 3px;
}
footer .player-bar .footer-center .bottom-footer-center .short:hover {
  background-color: green;
}
footer .player-bar .footer-center .bottom-footer-center .long {
  display: inline-block;
  height: 2px;
  width: 45%;
  background-color: #A3A3A3;
  margin-right: 3px;
}
footer .player-bar .footer-right {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .player-bar .footer-right i {
  color: white;
  margin-right: 5px;
}
footer .player-bar .footer-right .short {
  height: 2px;
  width: 20px;
  background-color: white;
}
footer .player-bar .footer-right .short:hover {
  background-color: green;
}
footer .player-bar .footer-right .long {
  height: 2px;
  width: 60px;
  background-color: #A3A3A3;
}
/* MEDIA QUERY */
@media screen and (max-width: 767px) {
  header .nav-bar .sub-nav-bar {
    width: 50px;
  }
  header .nav-bar .sub-nav-bar .logo-spotify, header .nav-bar .sub-nav-bar .centrature, header .nav-bar .sub-nav-bar .install {
    display: none;
  }
  header .upgrade .sub-upgrade {
    width: calc(100vw - 50px);
  }
  main .sub-main {
    width: calc(100vw - 50px);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  header .nav-bar .sub-nav-bar .mini-logos, header .nav-bar .sub-nav-bar .mini-install {
    display: none;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  header .nav-bar .sub-nav-bar .mini-logos, header .nav-bar .sub-nav-bar .mini-install {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  header .nav-bar .sub-nav-bar .mini-logos, header .nav-bar .sub-nav-bar .mini-install {
    display: none;
  }
}
